:root {
  // Primary
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  // Neutral
  --dark-Grayish-red: hsl(0, 6%, 24%);

  // Gradients
  --gradient-pinkish: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  --gradient-whiteish: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

$bp-mobile: 700px;

html {
  @media screen and (min-width: $bp-mobile) {
    font-size: 150%;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: var(--gradient-whiteish);
  color: var(--desaturated-red);
}

.main-contents {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logo"
    "hero"
    "contents";
  max-width: 375px;
  margin: auto;

  @media screen and (min-width: 950px) {
    max-width: 1440px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo hero"
      "contents hero";
    min-height: calc(100vh - 101.6px); //Incase dvh is not supported
    min-height: calc(100dvh - 101.6px);
  }

  @media screen and (min-width: 1000px) {
    padding-left: 10%;
  }
}
